@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    /* PRIMARY */
    --primary: #1e2534;          
    --primary-hover: #000000;    
    --primary-soft: #f3f4f6;     

    /* BACKGROUND */
    --background: #ffffff;       
    --background-change: #F5F5F5;       
    --card: #e4e4e4;             

    /* TEXT */
    --text: #111827;            
    --text-button: #ffffff;    

    --muted: #6b7280;           

    /* BORDER */
    --border: #b3b3b3;           
}           

[data-theme="dark"] {
    /* PRIMARY */
    --primary: #e5e7eb;         
    --primary-hover: #ffffff;  
    --primary-soft: #1f2933;     

    /* BACKGROUND */
    --background: #0b1220;  
    --background-change: #1F2937;       
    --card: #111827;            
    /* TEXT */
    --text: #e5e7eb;             
    --text-button: #111827;     

    --muted: #9ca3af;            

    /* BORDER */
    --border: #1f2937;          
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    padding:0px 100px;
    background-color: var(--background);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}
.intro{
    padding:0px 100px;
    background-color: var(--background);
    color: var(--text);

}
.card-header{
    color : var(--text);
}
#navbarNav a{
    color: var(--muted);
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.25s ease;
}
#navbarNav a:hover {
    color: var(--primary-hover);
}
.icon-toggler{
    color: var(--text);
}

#navbarNav a.active {
    color: var(--primary-hover);
    text-decoration:underline;
    font-weight: 600; 
}
#themeIcon {
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--text);
}
.change-light{
    border-left: 1px solid var(--primary);
}

.intro-img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position:  50% 20%;; 
    box-shadow: 0 20px 20px 0 #0000004d;
}
.btn-contact{
    border: none;
    background-color: var(--primary);
    padding:15px 25px;
    color:var(--text-button);
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 20px 20px 0 #0000004d;
    margin-top: 20px;
    transition: all 0.2s ease;
}
.btn-download{
    border: none;
    background-color: var(--primary);
    padding:10px 25px;
    color:var(--text-button);
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.2s ease;
    cursor: pointer;
}
.btn-contact:hover{
    background-color: var(--primary-hover);
}
.btn-download:hover{
    background-color: var(--primary-hover);
}

.about-me{
    background-color: var(--background-change);
    padding:0px 100px;
    color:var(--text);
}

.education {
    background: var(--card);
    border-radius: 16px;
    color: var(--text);
}

.edu-card {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 16px;
    border: 1px solid var(--border);
    border-radius: 12px;
}
.edu-card:hover{
    background-color: var(--border);
}

.edu-logo {
    width: 38px;
    height: 38px;
    object-fit: contain;
    opacity: 0.9;
}

.edu-content h4 {
    font-size: 15px;
    margin: 0;
    color: var(--text);
}

.edu-content p {
    font-size: 14px;
    margin: 4px 0;
    color: var(--muted);
}

.edu-content span {
    font-size: 13px;
    color: var(--text);
}

.skills {
    padding:0px 100px;
    background-color: var(--background);
    color:var(--text);
}


.skill-card {
    background: var(--primary);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 24px;
    height: 100%;
}

.skill-title {
    margin-bottom: 16px;
    font-size: 18px;
    color: var(--text-button);
    text-transform: uppercase;
}

.tech-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    color: var(--text-button);
    transition: all 0.25s ease;
    cursor: pointer;
}

.tech-item img {
    width: 28px;
    height: 28px;
}
.tech-item:hover{
    color: var(--muted);    
}

/* projects-start */
.projects {
    background: var(--background-change);
    padding: 0px 100px;
}
.section-title{
    color:var(--text);
}
.project-card {
    background: var(--card);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 24px;
    height: 100%;
    color:var(--text);
}

.tech-stack {
    font-size: 14px;
    color: var(--muted);
}

.project-links {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.project-links a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 999px;
    border: 1px solid var(--border);
    color: var(--text);
    transition: 0.3s ease;
}

.project-links a:hover {
    background: var(--primary-soft);
}

.project-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 16px;
    object-fit: cover;
}

.project-card:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
}


/* contact-start */
.contact {
    width: 100%;
    padding: 0px 100px;
    background: var(--background);
}

.contact-box {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-box h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 16px;
}

.contact-box p {
    color: var(--muted);
    font-size: 16px;
    margin-bottom: 32px;
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.contact-info a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text);
    text-decoration: none;
    font-size: 24px;
}

.contact-social {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-social a {
    font-size: 30px;
    color: var(--muted);
    transition: 0.2s ease;
}

.contact-social a:hover {
    color: var(--text);
}

@media (min-width: 992px) {


}
@media (max-width: 991.98px) {
header{
    padding:0px ;
}
.intro{
    padding:0px ;
}
.about-me{
    padding:0px ;
}
.skills {
    padding: 0px;
}
.change-light {
    display: none;
}
.contact {
    padding: 0px ;
}
.projects {
    padding: 0px ;

}


}